html, body, form, fieldset, ul, dl, dt, dd, table, td, th, img, menu {
    margin: 0;
    padding: 0;
    border: none;
}
html {
    height: 100%;
    font-size: 12px;
}
body {
    width: 100%;
    height: 100%;
    color: #333;
    font: 1em/1.5 "Segoe UI", "Myriad pro", Verdana;
}

a {
    color: #0093f0;
    text-decoration: none;
}
a:visited { color: #8855c9 }

#wrap {
    position: relative;
    width: 600px;
    height: 100%;
}
.pageWideMode #wrap {
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}