@animate: 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);

#stngs_trigger {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 56px;
  height: 40px;
  border-radius: 7px 7px 0 0;
  font-size: 27px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  -webkit-user-select: none;
  -webkit-transition:
    right @animate,
    background-color @animate;
}
.appSettingsMode #stngs_trigger {
  right: 10px;
  background-color: #fff;
}
.appSettingsMode #stngs_trigger when (@odesk) {
  color: #28b7ed;
}

.appSettingsMode #stngs_trigger when (@upwork) {
  color: #6fda44;
}

#settings {
  display: none;
  left: 0;
  right: 0;
  top: 51px;
  padding: 10px;
  background: #FFF;
  z-index: 5;
}

.appSettingsMode #settings {
  display: block
}

.st_column {
  float: left;
  width: 45%;
}

.stc_right {
  float: right
}

.sg_item {
  margin-bottom: 10px;
}

.sgi_ntf_disable label {
  margin-left: 3px;
  vertical-align: middle;
}

.fp_submit {
  clear: both;
  padding-top: 15px;
}
