#serverError {
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  padding: 15px 0;
  clear: both;
  font-size: 1.256rem;
  background-color: #fde3e3;
  text-align: center;
  z-index: 35;
}
#serverError button {
  margin: 5px 5px 0;
  cursor: pointer;
}
#serverError button:hover {
  text-shadow: 0 2px 2px rgba(38, 102, 8, 1);
}
#serverError button:active {
  text-shadow: 1px 3px 2px rgba(38, 102, 8, 1);
}

.errtooltip-enter,
.errtooltip-leave {
  transition:
    opacity .3s;
}
.errtooltip-enter {
  opacity: 0;
}
.errtooltip-enter.errtooltip-enter-active {
  opacity: 1;
}
.errtooltip-leave {
  opacity: 1;
}
.errtooltip-leave.errtooltip-leave-active {
  opacity: 0;
}
